.Helper .button {
  background: #eee;
  height: auto;
  width: auto;
  max-width: 300px;
  padding: 10px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.new-kdmodal .topics-header,
.new-kdmodal .message-footer {
  color: #555;
}
.new-kdmodal .topics-header {
  margin-bottom: 5px;
}
.new-kdmodal .message-footer {
  font-weight: bold;
}
.new-kdmodal ul {
  list-style: disc;
  padding-left: 25px;
  margin-bottom: 10px;
}
.new-kdmodal ul li {
  display: list-item;
  padding: 5px 0 0 0;
}
.new-kdmodal a,
.new-kdmodal .link {
  color: #2379B1;
  text-decoration: none;
  cursor: pointer;
}
.new-kdmodal a:hover,
.new-kdmodal .link:hover {
  text-decoration: underline;
}
.new-kdmodal a:hover:active,
.new-kdmodal .link:hover:active {
  color: #1b5c86;
}
.new-kdmodal textarea {
  min-height: 150px;
}
